* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  background-color: white;
  overflow-x: hidden;
}

/* footer  */
footer {
  position: relative;
  background-color: #1F2225;
  height: auto;
  font-family: 'Kumbh Sans', sans-serif;
  padding-top: 50px;
  color: #fff;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-top h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;

}

.footer-top p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 13.5px;
}

.social-icons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
}

.social-icons a i {
  font-size: 1.1rem;
  transition: .3s ease;
}

.social-icons a:hover i {
  color: red;
}

.footer-bottom {
  background: #181B1E;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 13.5px;
  word-spacing: 2px;
  text-transform: capitalize;
  opacity: 0.5;
  font-weight: 250;
}

li,
a,
button {
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  /* color: #edf0f1; */
  color: black;
  text-decoration: none;
}

/* Navigation Bar Start */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 18px 10%;
  /* 20% on both sides */
  /* background-color: #24252A; */
  background-color: #f8f9fa;
}

.logo {
  color: #f8f9fa;
  order: 1;
  cursor: pointer;
  margin-right: auto;

}

nav {
  order: 2;
}

.nav-links {

  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
}

.logo:nth-child(1) {
  padding: 0 20px 0 0;
}

.nav-links a {
  transition: all 0.3s ease 0s;
}

.nav-links a:hover {
  color: #e63946;
}

.menu-button-container {
  display: flex;
  justify-content: space-between;
  order: 3;
}


.menu-button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  border: 2px solid black;

}

.menu-button-container a:nth-child(1) .menu-button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: black;
  border: 2px solid black;

}


.menu-button:hover {
  background: rgba(45, 45, 45, 1);
  color: white;
  border: 2px solid rgba(48, 48, 48, 1);
}

.menu-button-container a:nth-child(1) .menu-button:hover {
  background: black;
  color: white;
  border: 2px solid black;
}

/* Navigation Bar End */



/* Main background image for section 1 */
/* https://pixabay.com/photos/france-hikers-hiking-figures-1804482/ 
Image by <a href="https://pixabay.com/users/12019-12019/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1804482">David Mark</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1804482">Pixabay</a>
*/

/* -----------------index.html start------------------- */


/* ---section 1 Main page Start---*/
.main-background-row {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/france.jpg");
  background-size: cover;
  height: 655px;
  position: relative;
  overflow: hidden;

}

.main-background-col h2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 30px 30px 0px 30px;
  font-size: 48px;
  max-width: 70%;
}

.main-background-col p,
.main-background-col button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 30px 30px 50px 30px;
  font-size: 18px;
  max-width: 70%;
}

.main-background-col button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  border: 2px solid black;
}

.main-background-col button:hover {
  background: rgba(48, 48, 48, 1);
  border: 2px solid rgba(48, 48, 48, 1);
}

/* ---section 1 Main page End--- */

/* ---section 2  Main page Start--- */
.main-s2-container-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 150px 50px;
}

.frame {
  padding: 45px;
  clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 80%, 100% 100%, 10% 100%, 0 80%, 0% 20%);
  border: 10px solid black;
}

.main-s2-container-row col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 500;
}

.main-s2-container-col p,
.main-s2-container-col img,
.main-s2-container-col h2,
.main-s2-container-col a {

  color: black;
  padding: 30px 30px 50px 30px;
  font-size: 16px;
}

.main-s2-container-col button {

  background-color: white;
  padding: 12.5px 10px;
  border: 2px solid black;
  border-radius: 3px;
  margin-right: 14.5px;
}

.main-s2-container-col h2 {
  padding: 30px 30px 0px 30px;
  font-size: 48px;

  line-height: 1.3;
}

.main-s2-container-col p {
  font-weight: 700;
  line-height: 1.8em;
}

.main-s2-container-col a {
  transition: all 0.3s ease 0s;
  color: black;
}

.main-s2-container-col a:hover {
  text-decoration: underline;
}


.img-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: auto;
  height: auto;
  position: relative;
  margin: auto 0;
  padding-top: 20px;

}

.img-row img {
  padding: 30px 15px;
  border-radius: 40px;
}

/* ----section 2  Main page End--- */

/* ---section 3  Main page Start--- */
.main-s3-container-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 150px 50px;
  background-color: #0081A7;

}

.main-s3-container-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 500;
}

.main-s3-container-col p,
.main-s3-container-col img,
.main-s3-container-col h2 {
  color: black;
  padding: 30px 30px 50px 30px;
  font-size: 16px;
}


.main-s3-container-col h2 {
  padding: 30px 30px 0px 30px;
  font-size: 48px;

  line-height: 1.3;
}

.main-s3-container-col p {
  font-weight: 700;
  line-height: 1.8em;
}

.main-s3-container-col button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border: 2px solid black;
}

.main-s3-container-col a {
  transition: all 0.3s ease 0s;
  color: white;
}




/* .img-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: auto;
  height: auto;
  position: relative;
  margin: auto 0;
  padding-top: 20px;

}

.img-row img {
  padding: 30px 15px;
  border-radius: 40px;
} */

/* ----section 3  Main page End--- */

/* ---section 4  Main page Start--- */

.left-image {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.left-image img {
  margin-right: 150px;
  max-width: 80%;
  height: 90vh;
  object-fit: cover;
  object-position: center;
}

.main-s4-container-row {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 150px 50px;
  background-color: white;

}



.main-s4-container-row col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 500;


}

.main-s4-container-col p,
.main-s4-container-col img,
.main-s4-container-col h2 {

  color: black;
  padding: 30px 30px 50px 30px;
  font-size: 16px;
}

.main-s4-container-col h2 {
  padding: 30px 30px 0px 30px;
  font-size: 48px;

  line-height: 1.3;
}

.main-s4-container-col p {
  font-weight: 700;
  line-height: 1.8em;
}

.main-s4-container-col button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  border: 2px solid black;
}

.main-s4-container-col a {
  transition: all 0.3s ease 0s;
  color: white;
}



/* .img-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: auto;
  height: auto;
  position: relative;
  margin: auto 0;
  padding-top: 20px;

}

.img-row img {
  padding: 30px 15px;
  border-radius: 40px;
} */

/* ----section 4  Main page End--- */

/* ---section 5  Main page Start--- */
.main-s5-container-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 150px 50px;
  background-color: #FDFCDC;
}

.main-s5-container-row col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 500;


}

.main-s5-container-col p,
.main-s5-container-col img,
.main-s5-container-col h2 {

  color: black;
  padding: 30px 30px 50px 30px;
  font-size: 16px;
}

.main-s5-container-col h2 {
  padding: 30px 30px 0px 30px;
  font-size: 48px;
  line-height: 1.3;
}

.main-s5-container-col p {
  font-weight: 700;
  line-height: 1.8em;
}

.main-s5-container-col button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  border: 2px solid black;
}

.main-s5-container-col a {
  transition: all 0.3s ease 0s;
  color: white;
}




/* .img-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: auto;
  height: auto;
  position: relative;
  margin: auto 0;
  padding-top: 20px;

}

.img-row img {
  padding: 30px 15px;
  border-radius: 40px;
} */

/* ----section 5  Main page End--- */

/* ---section 6  Main page Start--- */
.main-s6-container-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 150px 50px;
  background-color: #FED9B7;

}

.main-s6-container-row col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 500;
}

.main-s6-container-col p,
.main-s6-container-col img,
.main-s6-container-col h2 {

  color: black;
  padding: 30px 30px 50px 30px;
  font-size: 16px;
}

.main-s6-container-col h2 {
  padding: 30px 30px 0px 30px;
  font-size: 48px;
  line-height: 1.3;
}

.main-s6-container-col p {
  font-weight: 700;
  line-height: 1.8em;
}

.main-s6-container-col button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  border: 2px solid black;
}

.main-s6-container-col a {
  transition: all 0.3s ease 0s;
  color: white;
}




/* .img-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: auto;
  height: auto;
  position: relative;
  margin: auto 0;
  padding-top: 20px;

}

.img-row img {
  padding: 30px 15px;
  border-radius: 40px;
} */

/* ----section 6  Main page End--- */

/* -----------------index.html end------------------- */

/* ---Exercise Page Start--- */

.exercise-background-row {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/pushup.jpg");
  background-size: cover;
  height: 5%;
  position: relative;
  overflow: hidden;
}

.exercise-background-col h2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  top: 0;
  left: 0;
  transform: translate(-20%, -45%);
  width: 100%;
  height: 100%;
  justify-content: space-between;
  color: white;
  padding: 300px 300px 0px 300px;
  font-size: 48px;
  max-width: 70%;
}

/* ---title card shadow Start---*/
#exer {
  text-shadow: 2px 2px 4px rgba(80, 59, 29, 0.5);
}

exercise-background-col p,
.exercise-background-col button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 30px 30px 50px 30px;
  font-size: 18px;
  max-width: 70%;
}

.exercise-background-col button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: black;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  border: 2px solid black;
}

.exercise-background-col button:hover {
  background: rgba(48, 48, 48, 1);
  border: 2px solid rgba(48, 48, 48, 1);
}

.image-exer {
  text-align: center;
  position: relative;
  width: 300px;
  /* Set the width to match your image's width */
  height: 300px;
  /* Set the height to match your image's height */
}

.image-centering {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.text-exer {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(45%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0);
  /* Semi-transparent background for text */
  color: black;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 20px;
  opacity: 0;
  /* Initially, text is hidden */
  transition: opacity 0.3s ease;
  /* Add a smooth transition effect */
}

.image-exer:hover img {
  opacity: 0.7;
  /* Change the image opacity on hover */
}

.image-exer:hover .text-exer {
  opacity: 1;
  /* Display the text on hover */
}

.inline {
  display: inline-block;
}

/* --- title card shadow End ---*/

/* ---Supplements Page Start--- */

.supplements-background-row {
  display: flex;
  align-items: lef;
  justify-content: left;
  background-image: url("https://www.muscleandfitness.com/wp-content/uploads/2018/04/Muscular-Lean-And-Fit-Man-Resting-and-Drinking-Supplement-Drink-After-A-Workout.jpg?quality=86&strip=all");
  background-size: cover;
  height: 655px;
  position: relative;
  overflow: hidden;
}

.supplements-background-col h2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 30px 30px 0px 30px;
  font-size: 48px;
  max-width: 70%;
}

.supplements-background-col p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 30px 30px 50px 30px;
  font-size: 18px;
  max-width: 70%;
}